<!-- <header class="row">
  <div class="wrapper">
    <a href="<%= development? ? 'localhost:4567' : data.site.title %>" class="site-title">
      <span class="site-title--1">Infinite</span> <span class="site-title--2">Caesura</span>
    </a>

    <nav>
      <ul>
        <li><a class="menu-link" href="about">About</a></li>
        <li><a class="menu-link" href="concepts">Concepts</a></li>
        <li><a class="menu-link" href="newsletterhttps://tinyletter.com/devinhalladay">Newsletter</a></li>
      </ul>
    </nav>

    <div class="infinite-caesura-wrapper">
      <div class="circle circle-1">
        <div></div>
      </div>
      <div class="caesura caesura-1"></div>
      <div class="caesura caesura-2"></div>
      <div class="circle circle-2">
        <div></div>
      </div>
    </div>
  </div>
</header> -->


<header class="container grid">
  <div class="nav">
    <a href="http://infinitecaesura.com" class="site-title"><span class="site-title--1">Infinite</span> <span class="site-title--2">Caesura</span></a>
    <nav>
      <ul>
        <li><a class="menu-link" href="about">About</a></li>
        <li><a class="menu-link" href="concepts">Concepts</a></li>
        <li><a class="menu-link" href="newsletterhttps://tinyletter.com/devinhalladay">Newsletter</a></li>
      </ul>
    </nav>
  </div>
  <div class="caesurae">
    <div class="circle circle-1">
      <div></div>
    </div>
    <div class="caesura caesura-1"></div>
    <div class="caesura caesura-2"></div>
    <div class="circle circle-2">
      <div></div>
    </div>
  </div>
</header>
