<header class="container grid">
  <div class="nav">
    <a href="<%= development? ? 'http://localhost:4567/' : data.site.url %>" class="site-title">
      <span class="site-title--1">Infinite</span>
      <span class="site-title--2">Caesura</span>
    </a>
    <nav>
      <ul>
        <li><%= nav_link 'Entries', '/entries/' %></li>
        <li><%= nav_link 'About', '/about/' %></li>
        <li><%= nav_link 'Concepts', '/concepts/' %></li>
        <li><a class="menu-link" target="_blank" href="http://eepurl.com/c8ShB1">Newsletter</a></li>
      </ul>
    </nav>
  </div>

  <div class="caesurae">
    <div class="circle circle-1">
      <div></div>
    </div>
    <div class="caesura caesura-1"></div>
    <div class="caesura caesura-2"></div>
    <div class="circle circle-2">
      <div></div>
    </div>
  </div>
</header>
