<div class="menu-right">
  <small>
    <h4>Links</h4>
    <ul>
      <li><a href="/entries/">More entries</a></li>
      <li><a href="/feed.xml">RSS</a></li>
      <li><a href="mailto:inbox@infinitecaesura.com">Contact</a></li>
      <li><a href="http://are.na/devin-halladay">Are.na</a></li>
      <li><a href="https://twitter.com/devinhalladay">Twitter</a></li>
    </ul>
  </small>
</div>
