<div class="newsletter-well">
  <h3>Sign up for Occasionally Absurd</h3>
  <p>An occasional email dispatch full of ideas, aphorisms, recommended reading, and whatever else is on my mind. I promise, the emails are much shorter than my essays.</p>
  <a target="_blank" href="http://tinyletter.com/devinhalladay" class="button">Signup</a>
</div>
