html {
  font: 108%/1.78 $font-sans-serif;
  color: $color-text;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "calt","liga","onum","pnum";
  hyphens: auto;

  @media (max-width: 30rem) {
    font-size: 100%;
  }
}

body {
  min-height: 100vh;
  // padding-bottom: 120px;
  border: 10px solid $color-site;

  @media (max-width: 500px) {
    border: 0;
    border-top: 10px solid $color-site;
    border-bottom: 10px solid $color-site;
  }
}
