figure {
  margin: 0;
  margin-bottom: 1.7778rem;

  img.bordered {
    border: 1px solid $color-meta;
  }

  p {
    font-size: 84%;
    color: $color-meta;
    font-family: $font-sans-serif;
    font-weight: 400 !important;
    line-height: 1.6;
  }
}

p + figure {
  margin-top: 1em;
}

sup {
  font-family: $font-sans-serif;
  color: $color-site;
  a { text-decoration: none; }
  line-height: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  font-weight: 400;
  font-family: $font-sans-serif;
}

h1, .h1 {
  font-size: 1.333rem;
  line-height: 1.2;
}

h2, .h2,
h3, .h3 {
  font-size: 1.111rem;
}

// * + h2, * + .h2,
// * + h3, * + .h3 {
//   padding-top: 20px;
// }

h1 {
  font-size: 2.2rem;
  font-weight: 500;
}

h2, .h2 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 25px;
  margin-top: 50px;
  margin-bottom: 25px;
}

h3, .h3 {
  -webkit-font-feature-settings: "smcp", "c2sc";
          font-feature-settings: "smcp", "c2sc";
  font-size: inherit;
  font-style: normal;
  letter-spacing: .025em;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 10px;
}

h4, .h4 {
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
  font-style: italic;
}

a {
  color: inherit;
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

.link-plain {
  text-decoration: none;
}

a:hover, a:focus {
  color: $color-site;
}

code, pre {
  font-family: $font-monospace;
}

hr {
  border: 0;
  content: '';
  display: block;
  height: 1px;
  margin: 30px 0;
  background-color: $color-meta;

  &.hr-short {
    width: 100px;
  }
}

.meta {
  color: $color-meta;
}

blockquote {
  border-left: 2px solid $color-site;
  margin: 30px 0;
  font-family: $font-sans-serif;

  p {
    padding-left: 1em;
    margin-top: 10px;
    font-weight: normal !important;

    &.attribution {
      color: $color-meta;
    }
  }

  p + & {
    margin: 1.6em 0;
  }
}

ul, ol {
  margin: 20px;
}

// blockquote em, blockquote strong {
//   font-style: normal;
// }

.small-caps {
  -webkit-font-feature-settings: "smcp", "c2sc", "lnum";
          font-feature-settings: "smcp", "c2sc", "lnum";
  letter-spacing: .05em;
}
