:not(.wf-loading) sup {
  -webkit-font-feature-settings: "sups" 1;
          font-feature-settings: "sups" 1;
  font-size: inherit;
  vertical-align: inherit;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-weight: 400;
}

h1, .h1 {
  font-size: 1.333rem;
}

h2, .h2,
h3, .h3 {
  font-size: 1.111rem;
}

* + h2, * + .h2,
* + h3, * + .h3 {
  padding-top: 20px;
}

h1 {
  font-size: 2.2rem;
  font-weight: 600;
}

h2, .h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

h3, .h3 {
  -webkit-font-feature-settings: "smcp", "c2sc";
          font-feature-settings: "smcp", "c2sc";
  font-size: inherit;
  font-style: normal;
  letter-spacing: .025em;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.6em;
  font-weight: 500;
}

h4, .h4 {
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

.link-plain {
  text-decoration: none;
}

a:hover, a:focus {
  color: $color-site;
}

code, pre {
  font-family: $font-monospace;
}

hr {
  border: 0;
  content: '';
  display: block;
  height: 1px;
  margin: 30px 0;
}

.meta {
  color: $color-meta;
}

blockquote {
  border-left: 2px solid $color-site;
  margin: 0;

  p {
    padding-left: 30px;
    color: $color-meta;

    &.attribution {
      color: $color-meta;
    }
  }

  p + & {
    margin: 1.6em 0;
  }
}

// blockquote em, blockquote strong {
//   font-style: normal;
// }

.small-caps {
  -webkit-font-feature-settings: "smcp", "c2sc", "lnum";
          font-feature-settings: "smcp", "c2sc", "lnum";
  letter-spacing: .05em;
}
