article {
  p + p {
    padding-top: 1.2em;
  }
}

.article-body, .article-abstract {
  font-family: $font-serif;
  font-weight: 500;

  p, ol, ul, em, i {
    font-weight: 500;
  }
}

.article-concepts {
  margin: 0;
}

.article-body {
  h2:first-child {
    margin-top: 0;
  }
}

.footnotes {
  font-size: 85%;
  line-height: 1.6;
  color: $color-meta;

  ol {
    margin: 0;

    li {
      padding-bottom: 1em;
      &:target { color: $color-text; }
    }
  }
}
