blockquote.blockquote-page, .sheet {
  background: linear-gradient(180deg, #FFFFFF 0%, #fdfdfd 100%);
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.12);
  padding: 30px;
  border-left: 5px solid $color-site;
  margin: 0 0 2em;

  p {
    padding-left: 0;
    color: $color-text;

    &.attribution {
      color: $color-meta;
      padding-top: 0;
    }
  }
}
