$grid-columns: 12;
$grid-columns-corrected: 10;
// $grid-template-columns: [grid-start] 1fr repeat($grid-columns-corrected, 1fr) [grid-end] 1fr;
$grid-column-gap: 15px;
$grid-row-gap: 15px;

$color-site: #1E7EFF;
$color-dark: #151515;
$color-text: #151515;
$color-meta: #909090;

$font-sans-serif: "Neue Haas Unica", "BlinkMacSystemFont", -apple-system, "Helvetica Neue", Helvetica, sans-serif;
$font-serif: "p22-mackinac-pro", "Georgia", "Times New Roman", serif;
$font-monospace: $font-sans-serif;
