---
layout: default_layout
---

<aside class="sidebar">
  <img src="/assets/images/profile.jpg" alt="">
  <small>
    <h3>Editor</h3>
    <p><a href="https://devinhalladay.com">Devin Halladay</a></p>
  </small>
  <small>
    <h3>Elsewhere</h3>
    <ul>
      <li><a href="https://twitter.com/devinhalladay">Twitter</a></li>
      <li><a href="mailto:inbox@infinitecaesura.com">Email</a></li>
    </ul>
  </small>
  <small>
    <h3>Typography</h3>
    <p><a href="https://www.monotype.com/fonts/neue-haas-unica/">Neue Haas Unica</a></p>
  </small>
  <small>
    <h3>Technology</h3>
    <ul>
      <li>Made with <a href="https://middlemanapp.com">Middleman</a></li>
      <li><a href="https://github.com/devinhalladay/infinitecaesura.com">Open source</a>, always.</li>
    </ul>
  </small>
</aside>

<section class="main-column">
  <section>
    <h2>About Infinite Caesura</h2>
    <p>The caesura is a pregnant moment: still yet pluripotential. From it, all potentials unravel and become. In a sense, a caesura is a genesis: a microcosm from which all other events radiate. It is a moment of deep, prescient awareness of state and condition.</p>
    <p><strong>Infinite Caesura is a space for radical and speculative thinking maintained by Devin Halladay.</strong> Its purpose is to develop a holistic critical inquiry into the condition of the contemporary world and mind, delivering entries in the form of essays and aphorisms.</p>
    <!-- <hr class="hr-short"> -->
    <p><small>The content on this site is often epistemologically uncertain, subjunctive, or exploratory, and sometimes difficult or troubling. Such is the way forward in an age of deep, inescapable crisis. If ever you have a question or comment, feel free to <a href="mailto:inbox@infinitecaesura.com">email me</a>.</small></p>
  </section>

  <hr>

  <section>
    <% data.site.people.authors.each do |a| %>
      <h2>About The Editor</h2>
      <p><%= a.bio %></p>
    <% end %>
  </section>
</section>
