---
title: Concepts
layout: default_layout
---

<div class="main-column">
  <h1>Concepts</h1>
  <p class="intro">The entries on this site are all organized by concept. These concepts act both as organizational taxonomies and as framing devices for understanding the content in an article before reading it. My hope is that as this site grows, each concept will develop its own canonical posts.</p>


  <div class="concepts">
    <% grouped_tags = blog.tags.sort.group_by {|tag| tag[0][0]} %>

    <% grouped_tags.each do |letter, tags| %>
      <div class="concept-block">
        <h3><%= letter.upcase %></h3>

        <% tags.each do |tag, articles| %>
          <p><%= link_to "#{tag.capitalize}", tag_path(tag) %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
