---
layout: default_layout
---
<div class="main-column">
  <h1>Entries filed under <em><%= tagname.capitalize %></em></h1>

  <ul>
    <% blog.articles.select{|a| a.tags.include?(tagname)}.each do |article| %>
      <%= partial "partials/post_list", :locals => { :article => article } %>
    <% end %>
  </ul>
</div>
