---
title: Concepts
layout: default_layout
---

<div class="main-column">
  <h1 class="page-title">Concepts</h1>
  <p class="intro">The entries on this site are organized by concept. These concepts act as organizational taxonomies and framing devices.</p>


  <div class="concepts">
    <% grouped_tags = blog.tags.sort.group_by {|tag| tag[0][0]} %>

    <% grouped_tags.sort.each do |letter, tags| %>
      <div class="concept-block">
        <h3><%= letter.upcase %></h3>

        <% tags.each do |tag, articles| %>
          <p><%= link_to "#{tag.split.map(&:capitalize).join(' ')}", tag_path(tag) %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
