---
layout: default_layout
title: Entries
---

<div class="main-column">
  <% blog.articles.each do |article| %>
    <%= partial "partials/post_list", :locals => { :article => article } %>
  <% end %>
</div>

<%= partial 'partials/menu_right' %>
