<div class="main-column">
  <% blog.articles.each do |article| %>
    <%= partial "partials/post_list", :locals => { :article => article } %>
  <% end %>
</div>

<div class="menu-right">
  <ul>
    <li>About</li>
    <li>Twitter</li>
    <li>Contact</li>
    <li>RSS</li>
  </ul>
</div>
