.about {
  .sidebar {
    grid-column: 10 / span 3;

    @media (max-width: 1200px) {
      grid-column: 3 / span 7;

      margin-top: 60px;
      padding-top: 35px;
      border-top: 1px solid $color-meta;
    }

    @media (max-width: 950px) {
      grid-column: 3 / span 8;
    }

    @media (max-width: 750px) {
      grid-column: 2 / span 10;
    }

    @media (max-width: 680px) {
      grid-column: 1 / span 11;
    }

    @media (max-width: 600px) {
      grid-column: 1 / span 12;
    }

    img {
      max-width: 300px;
    }

    h3 {
      margin: 0;
    }

    p {
      line-height: 1.5;
      padding-bottom: .5em;
    }

    ul {
      list-style-type: none;
      margin: 0;
    }
  }

  // .main-column {
  //   grid-column: 5 / span 6;
  //
  //   @media (max-width: 1200px) {
  //     grid-column: 3 / span 7;
  //   }
  //
  //   @media (max-width: 950px) {
  //     grid-column: 3 / span 8;
  //   }
  //
  //   @media (max-width: 750px) {
  //     grid-column: 2 / span 10;
  //   }
  //
  //   @media (max-width: 680px) {
  //     grid-column: 1 / span 11;
  //   }
  //
  //   @media (max-width: 600px) {
  //     grid-column: 1 / span 12;
  //   }
  // }

  h2 {
    line-height: 1;
    padding-bottom: 0.6em;
    margin: 0;
  }

  small {
    display: block;

    & + small {
      padding-top: 1em;
    }

    h3 {
      letter-spacing: 0;
      font-size: 1.3em;
      line-height: 1.4;
    }
  }

  section + section {
    padding-top: 2em;
  }

  section p {
    font-family: $font-serif;
    font-weight: 500;
  }

  p + p {
    padding-top: 1.2em;
  }

  img {
    padding-bottom: 0.6em;
  }
}
