article {
  border-bottom: 1px solid $color-meta;
  padding-bottom: 2em;
  margin-bottom: 1em;

  .article-head {
    .article-title {
      a {
        h1 {
          font-size: 1.6rem;

          &:after {
            display: inline-block;
            content: url("data:image/svg+xml; utf8, <svg width='20' height='17' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M18.7674 8.5L10.7675 0.5M18.7674 8.5L10.7675 16.5M18.7674 8.5H0.767456' stroke='#{$color-text}' stroke-width='2'/> </svg>");
            padding-left: 0.4em;
          }
        }

        &:hover {
          h1:after {
            content: url("data:image/svg+xml; utf8, <svg width='20' height='17' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M18.7674 8.5L10.7675 0.5M18.7674 8.5L10.7675 16.5M18.7674 8.5H0.767456' stroke='#{$color-site}' stroke-width='2'/> </svg>");
          }
        }
      }
    }

    .article-subtitle {
      font-size: 1.2rem;
      padding-top: 0;
      margin: 10px 0;
    }
  }

  .article-abstract {
    padding-top: 20px;
  }

  .article-meta {
    small {
      padding-right: 0.8em;
    }

    .article-word-count,
    .article-date {
      color: $color-meta;
    }

    .article-concepts {
      display: inline-block;

      li {
        color: $color-meta;
        list-style-type: none;
        display: inline-block;

        &:not(:last-child) {
          padding-right: .6em;
        }

        a {
          text-decoration: none;

          &:before {
            content: "";
            width: 12px;
            height: 12px;
            margin-right: 6px;
            background: $color-meta;
            border-radius: 10px;
            left: 0;
            display: inline-block;
          }

          &:hover {
            &:before {
              background: $color-site;
            }
          }
        }
      }
    }
  }
}
