article {
  border-bottom: 1px solid $color-meta;
  padding-bottom: 2em;
  margin-bottom: 1em;

  .article-head {
    .article-title h1 {
      font-size: 1.6rem;
    }

    .article-subtitle {
      font-size: 1.2rem;
      padding-top: 0;
    }
  }

  .article-abstract {
    padding-top: 20px;
  }

  .article-meta {
    small {
      padding-right: 0.8em;
    }

    .article-concepts {
      display: inline-block;

      li {
        color: $color-meta;
        font-size: 0.8em;
        list-style-type: none;
        display: inline-block;

        &:not(:last-child) {
          padding-right: .6em;
        }

        a {
          text-decoration: none;

          &:before {
            content: "";
            width: 12px;
            height: 12px;
            margin-right: 6px;
            background: $color-meta;
            border-radius: 10px;
            left: 0;
            display: inline-block;
          }

          &:hover {
            &:before {
              background: $color-site;
            }
          }
        }
      }
    }
  }
}
